* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 112px;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222143;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: moveUp 2s forwards ease-in-out; /* Animation to move loader up */
}

.loader {
  border: 8px solid #ff5733;
  border-radius: 50%;
  border-top: 8px solid #ff5733;
  border-bottom: 8px solid #ff5733;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  transition: 0.3s;
}
.toggle-btn:hover {
  transform: translateX(-4px);
}

.bar {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
}

.list-items {
  display: flex;
  list-style: none;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
}
.list-items li {
  padding: 4px 8px;
  font-weight: 600;
}

.left-logo {
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 128px;
  width: 100%;
  height: 32px;
}

.right-logo {
  display: flex;
  gap: 12px;
}
.humburger {
  display: flex;
  gap: 12px;
}
.content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222143;
  color: white;
  text-align: center;
  padding-top: 50px;
  z-index: 2;
  overflow-y: hidden;
}
.content-img {
  /* max-width: 737px; */
  width: 50%;
}

.content-logo {
  opacity: 1;
  display: flex;
  position: absolute;
  left: 220px;
  height: 100vh;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-text {
  width: 49vw;
  display: flex;
  gap: 70px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 80px;
}
.content-text h1 {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: -1.5px;
  line-height: 5px;
  color: white;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.content-text h1:hover {
  color: #ff5733;
  transform: translateX(10px);
  cursor: pointer;
}
.content-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 92px;
  font-size: 18px;
  line-height: 30px;
}
.content-text a {
  text-decoration: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
}
.content-text a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.content-text a:hover::before {
  transform: scaleX(1); /* Reveal the border on hover */
}

/* Add a delay before the border disappears */
.content-text a:hover::before {
  transition-delay: 0.2s; /* Change the delay time as needed (in seconds) */
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.close-btn:hover {
  transform: translate(-50%, -50%) rotate(360deg);
  transform: scale(1.2);
}

.content-all {
  display: flex;
}

.main {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 130px;
  gap: 346px;
}

.scrol {
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  padding-top: 40px;
}
.arrow {
  transition: transform 0.3s ease-in-out;
}
#scroll-text {
  font-size: 1.5rem;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}
.scrol:hover #scroll-text {
  transform: translateY(10px);
}

.scrol:hover .arrow {
  transform: translateY(10px);
}
.left-content {
  display: flex;
  padding-top: 168px;
}

.left-content h1 {
  padding-bottom: 16px;
  font-size: 80px;
  line-height: 72px;
  font-weight: 700;
}
.left-content p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.btns {
  display: flex;
  gap: 16px;
}
.builders {
  background: linear-gradient(0deg, rgb(255, 79, 82) 0%, rgb(57, 58, 220) 100%);
  -webkit-background-clip: text; /* Clip text to the background gradient */
  color: transparent;
  display: inline-block;
}

.right-content-cube {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
}
.right-content-cube img {
  transition: transform 0.3s ease-in-out;
}
.right-content-cube:hover img {
  /* transform: translateX(20px); */
  transform: rotate(45deg);
}

/* accordion */
.accor {
  padding-bottom: 80px;
  font-size: 2em;
  max-width: 40%;
  width: 100%;
}
.accordion {
  display: flex;
  justify-content: space-between;
  /* max-width: 800px; */
  /* margin: 20px auto; */
  padding-bottom: 80px;
  overflow: hidden;
}

.accor-left {
  flex-basis: 70%;
}

.accor-right {
  flex-basis: 30%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.accordion-text {
  font-size: 30px;
}
.accordion-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordion-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  gap: 75px;
}

.accordion-item:hover {
  background-color: #f9f9f9;
}

.accordion-item img {
  max-width: 30px;
  margin-right: 10px;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-item:hover .accordion-content {
  display: block;
}
.custom-icon {
  max-width: 100px;
  width: 100%;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logos-text {
  text-align: center;
}
.logos-text h2 {
  font-size: 3em;
}
.logos-text p {
  font-size: 18px;
  color: blue;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  list-style: none;
  margin-top: 16px;
  margin-bottom: 16px;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  padding: 16px 0;
}

.top-content {
  margin-top: 96px;
  padding-bottom: 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.top-content h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}
.top-content p {
  font-size: 18px;
  line-height: 28px;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 96px;
}

.div1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 305px;
  margin-top: 24px;
  padding-bottom: 8px;
}

.div1 img {
  margin-bottom: 24px;
}
.div1 h3 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 8px;
  font-weight: 700;
}
.div1 p {
  font-size: 16px;
  line-height: 24px;
}
.second-last-section {
  max-width: 100vw;
  text-align: center;
}
.last-section-text h2 {
  font-size: 100px;
  line-height: 80px;
}
.second-last-section p {
  font-size: 60px;
  color: #3d3edd;
  text-align: start;
  padding-left: 400px;
}

.footer {
  /* background-color: black; */
}
.end {
  display: flex;
  justify-content: space-between;
}

.download ul {
  color: #000;
  display: flex;
  list-style: none;
  gap: 12px;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 12px;
  font-weight: 400;
}
.links ul {
  color: #000;
  display: flex;

  gap: 24px;
  list-style: none;
  gap: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.copyright {
  color: white;
  padding-top: 24px;
  padding-bottom: 64px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.f-logo {
  padding-top: 64px;
  padding-bottom: 24px;
}
.second {
  color: white;
  padding-top: 64px;
}
.second p {
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}
.end-logos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*media queries*/

@media screen and (max-width: 1024px) and (min-width: 767px) {
}

@media screen and (max-width: 768px) {
  .cards {
    flex-wrap: wrap;
  }
  .left-content h1 {
    font-size: 32px;
    line-height: 1.2;
  }
  .accordion {
    flex-wrap: wrap;
    align-items: center;
  }
  .accordion-text {
    font-size: 20px;
  }
  .hero-text h1 {
    font-size: 28px;
  }
  .hero-text p {
    font-size: 16px;
  }
  .content-img img {
    display: none !important;
  }
  .content-all {
    text-align: center;
    height: 10vh;
  }
  .content-text {
    width: 100vw;
    padding-left: 0;
    gap: 20px;
  }
  .content-text h1 {
    font-size: 25px;
  }
  .accordion-item {
    gap: 11px;
  }
  .end {
    flex-wrap: wrap;
  }

  .cube {
    max-width: 393px;
    width: 100%;
    gap: 40px;
  }
  .bar {
    padding: 26px 0;
  }

  .right-div {
    flex-wrap: wrap;
    justify-content: left;
  }
  .mobiles {
    flex-wrap: wrap;
  }
  .links ul {
    flex-wrap: wrap;
  }
  .left-content {
    padding-top: 0px;
    padding-left: 0px;
  }
  .manage {
    padding-top: 50px;
  }
  .second-last-section p {
    padding-left: 0;
    font-size: 20px;
  }
  .second-last-section h2 {
    font-size: 32px;
    line-height: normal;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0px 24px;
  }
  .main-div {
    flex-wrap: wrap;
  }
  .right-div {
    padding-top: 48px;
    /* justify-content: left; */
    width: 100%;
  }
  .wraper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .logos {
    flex-wrap: wrap;
    gap: 47px;
    padding: 16px 40px;
  }
  .main {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .list-items {
    display: none;
  }
  .right-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /* .left-content h1 {
    font-size: 48px;
    line-height: 1.2;
  } */
  .left-content p {
    font-size: 18px;
    line-height: 1.2;
  }
  .top-content h2 {
    font-size: 36px;
    line-height: 1.2;
  }
  .div1 h3 {
    font-size: 24px;
    line-height: 1.2;
  }

  .left-div h2 {
    font-size: 36px;
    line-height: 1.2;
  }

  .second {
    padding-bottom: 16px;
    padding-top: 0px;
  }
}

@media (max-width: 1240px) {
  .container {
    padding: 0 48px;
  }
}
@media (max-width: 1120px) {
  .container {
    padding: 0 24px;
  }
  .left-div h2 {
    max-width: 500px;
  }
}
